@model IList<EquipmentDowntime>

<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Список простоев оборудования</h2>
    </div>
    <div class="col-12 border p-3">
        <table class="table table-striped table-bordered" style="width:100%">
            @if (Model.Any())
            {
                @await Html.PartialAsync("_getEquipmentDowntimeList")
            }
            else
            {
                <tr>Нет простоев - нет проблем.</tr>
            }
        </table>
    </div>
</div>